@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900');
@import '~font-awesome/css/font-awesome.css';


body {
  color: #666;
  background: #141313;
font-family: 'Roboto', sans-serif;
}

.table-wrapper {
  background: #fff;
  padding: 20px;
  margin: 30px 0;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.card-title{
  color: black;
}

.card-text{
  color:black;
}
