
<div class="card" style="width: 18rem;">
  <div class="card-body">
      <div class="col">
        <h5 class="card-title">Personal</h5>
      </div>
    <p class="card-text">{{perso.nombre}}     {{perso.apellido}}</p>
  </div>
</div>
