<div class="signup-form">
    <form>
      <h2>Registro</h2>
      <p class="hint-text">Crea tu cuenta. Es gratis.</p>
          <input type="text" id="nombre" class="form-control" name="first_name" placeholder="Ingrese nombre" #nombre>
          <input type="text" id="apellido" class="form-control" name="last_name"  placeholder="Ingrese apellido" #apellido>
          <button	type="submit"	class="btn btn-success btn-lg btn-block" (click)="guardar(nombre.value, apellido.value)">Guardar!</button>
    </form>
  </div>
    <div class="container">
      <div class="row row-flex row-cols-3">
        <app-nombres *ngFor="let d of perso" [perso]="d"></app-nombres>

    </div>



